/*for mobile devices*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
