* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  height: 100vh;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
}
header img {
  margin-left: 2rem;
  border-radius: 50%;
  border: solid 2px #000;
}
header ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
  margin-right: 3rem;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
header ul li {
  padding: 0.5rem;
  transition: background 0.1s ease;
  border-radius: 10px;
  cursor: pointer;
}
header ul li:hover {
  background: rgb(245, 245, 245, 0.5);
}

header .meno-bar {
  display: none;
}
